.about{
    margin: 3%;
}

.mainbox{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}

.fotos{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.fotos > img{
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

.whoWeAre{
    padding-right: 30px;
    line-height: 130%;
    text-align: justify;
}