@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);

h1 {
  font-family: 'Rubik One', sans-serif;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #5f0f58 33%, #5c11d6 66%, #e31ffd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
  margin: 20px auto;
}

.news-block{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.news{
    background-color: rgb(255, 255, 255, .4);
    border: 1px solid rgb(59, 59, 59);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    gap: 10px;
}

.news > img{
    width: 310px;
    height: 200px;
    border-radius: 5px;
}

.news > div{
    width: 230px;
}

img{
    object-fit: cover;
}

p{
    color: #4b4b4b;
    text-align: justify;
    padding-right: 15px;
}
