:root{
    --primary-boxcolor: rgba(245, 245, 247, 0.938);
    --default-text-color: rgb(0,0,0);
}

main{
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(-45deg, #04f54d, #09c3f1, #1d89e0, #074ccc);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;

    /* background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
    background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px; */

    min-height: 100vh;
}

.mainbox{
    background-color: var(--primary-boxcolor);
    border-radius: 30px;
    border: 1px solid black;
    padding: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    padding: 15px;
    width: auto;
    background-color: #181733;
}
ul{
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

ul a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

ul a:hover{
    color: rgb(184, 18, 18);
}

main{
    padding: 3%;
}

ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}

.topmenu > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

a {
    display: block;
    padding: 10px 15px;
    transition: .3s linear;
}

.submenu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: .3s ease-in-out;
}

nav .submenu {
    transform: scaleY(0);
    transform-origin: 0 0;
    background: #154284;
}

nav ul li:hover .submenu {
    transform: scaleY(1);
}

.submenu li a {
    border-bottom: 1px solid rgba(255,255,255,.3);
    color: white;
    font-size: 15px;
}
